<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="org.hellojavaer.spring.beans.ext.config.text" />
	<bean class="org.hellojavaer.spring.beans.ext.config.MultipleEnvPropertyPlaceholderConfigurer">
		<property name="rule" value="->dev;{*}_{*}->{0}/{1};{*}->{0};" />
		<property name="baseLocation" value="classpath:/biz/config/multienv" />
		<!-- <property name="env" value="online"/> -->
	</bean>
	
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/biz/config/multienv/online/*"/>
	</bean>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/biz/config/multienv/online/*"/>
	</bean> -->
	<!-- <bean class="org.hellojavaer.spring.beans.ext.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/biz/config/multienv/online/*"/>
	</bean>
	<bean class="org.hellojavaer.spring.beans.ext.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/biz/config/multienv/pre/*"/>
	</bean> -->
</beans>
